@import './talilwind.css';
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

body {
  font-family: Poppins, sans-serif;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 50;
}

@layer utilities {
  .glow-effect {
    box-shadow: 0 0 10px rgba(0, 123, 255, 0.5), 0 0 20px rgba(0, 123, 255, 0.4);
    transition: box-shadow 0.3s ease-in-out;
  }

  .glow-effect:hover {
    box-shadow: 0 0 15px rgba(0, 123, 255, 0.8), 0 0 30px rgba(0, 123, 255, 0.6);
  }
}

@keyframes neon {
  0% {
    text-shadow: 0 0 5px #0EBFE9, 0 0 10px #0EBFE9, 0 0 15px #0EBFE9, 0 0 20px #0EBFE9, 0 0 25px #0EBFE9, 0 0 30px #0EBFE9;
  }

  50% {
    text-shadow: 0 0 5px #40E0D0, 0 0 10px #40E0D0, 0 0 15px #40E0D0, 0 0 20px #40E0D0, 0 0 25px #40E0D0, 0 0 30px #40E0D0;
  }

  100% {
    text-shadow: 0 0 5px #98FF98, 0 0 10px #98FF98, 0 0 15px #98FF98, 0 0 20px #98FF98, 0 0 25px #98FF98, 0 0 30px #98FF98;
  }
}

.text-neon-animation {
  animation: neon 1.5s ease-in-out infinite alternate;
}

@keyframes slideIn {
  from {
      opacity: 0;
      transform: translateY(-10px);
  }
  to {
      opacity: 1;
      transform: translateY(0);
  }
}
.animate-slide-in {
  animation: slideIn 0.5s ease-in-out;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Poppins, Arial, Helvetica, sans-serif;
}